.about-projects-title{
    text-align: center;
}

.about-details > article{
    margin-top: 24px;
}

.about-details p{
    text-align: justify;
    margin-top: 12px;
    font-size: 20px;
    line-height: 36px;
}

.about-details p > b{
    color: var(--primary-color);
}

.founder-img{
    border-radius: 50%;
    width: 300px;
}