.blog-wrapper .home-section-title{
    text-align: center;
}

.blog-gallery{
    margin-top: 20px;
}

.blog-card{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    max-height: 200px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-card-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-card-title{
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 20px
}

.blog-card > img{
    width: 20%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* article */
.article-nav{
    padding: 16px 32px;
    border-bottom: rgba(149, 157, 165, 0.2) 1px solid;
}

.article-nav > span{
    cursor: pointer;
    font-size: 18px;
    transition: all ease 0.2s;
}

.article-nav > span:hover{
    opacity: 0.6;
}

.article-title{
    text-align: center;
}

.article-info{
    margin-top: 20px;
    /* padding: 0 60px; */
}

.article-content{
    margin-top: 20px;
    /* padding: 0 60px; */
    text-align: justify;
}

.article-content > b{
    color: var(--heading-color);
}