.button{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    color: #fff;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.button:hover{
    background-color: transparent;
    color: var(--primary-color);
    transition: all ease 0.2s;
}