.slider-wrapper{
    padding: 48px 48px;
}

.slider-item{
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 48px 48px;
}

.slider-text{
    width: 50%;
    margin-right: 16px;
}

.slider-img{
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.slider-text > a{
    margin-right: 16px;
    min-width: 190px;
    text-align: center;
}

.slider-item-title{
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 600;
}

.slick-dots{
    bottom: -42px!important;
}

.slick-dots li button:before{
    font-size: 20px!important;
}

.slick-prev{
    left: -36px!important;
}

.slick-prev:before, .slick-next::before{
    font-size: 36px!important;
    color: var(--background-color)!important;
}
