.carousel{
    margin-top: 146px;
}

.carousel-inner, .carousel-item{
    height: 650px;
}

.carousel-item{
    position: relative;
}

.carousel-item > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(1);
}

.carousel-item .carousel-text{
    display: block;
    position: absolute;
    padding: 24px 0;
    text-align: center;
    top: 38%;
    left: 20%;
    width: 60%;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.carousel-text > h5{
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 600;
}

.carousel-text > p{
    font-size: 24px;
    font-style: italic;
}

.carousel-indicators > button{
    display: block;
    height: 2px!important;
    border-top: none;
    background-color: #fff;
    background-clip: border-box!important;
}

