.contact-banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-banner > img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    filter: brightness(0.8);
    border-radius: 8px;
}

.contact-banner-text{
    position: absolute;
    border-radius: 16px;
    padding: 48px 62px;
    text-align: center;
}

.contact-banner-text > h3{
    color: #fff;
    font-size: 42px;
}

.contact-banner > a{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.contact-banner-text > a:hover{
    color: #Fff;
    border: 1px solid #fff;
}