.footer{
    position: relative;
    background-color: var(--background-color);
    padding: 24px 40px!important;
    z-index: 4;
}

.footer-wrapper{
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.footer-col{
    padding: 0;
}

.footer-logo{
    width: 120px;
    height: 120px;
}

.footer-nav{
    list-style: none;
    text-align: center;
}

.footer-nav > li{
    padding: 4px 0;
}

.footer-nav > li > a{
    color: var(--text-color);
    text-decoration: none;
}

.footer-nav > li > a:hover{
    color: var(--primary-color)
}

.social-media-link{
    text-align: right;
}

.social-media-link h4{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 12px;
}

.social-media-link > a{
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

.social-media-link > a > i{
    margin-left: 16px;
    font-size: 24px;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
}

.copyright{
    text-align: center;
    margin-top: 16px
}

.copyright i {
    margin: 0 8px;
}