.header{
    top: 0;
    display: block;
    width: 100%;
    position: fixed;
    padding: 12px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 100;
    background-color: var(--background-color);
}

.utilities-list{
    display: none;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0 40px;
}

.utilities-list > li{
    margin-right: 32px;
    font-size: 16px;
}

.utilities-list > li > i{
    margin-right: 8px;
}

.navbar{
    padding: 0 40px 0 40px;
    background-color: var(--background-color)!important;
}

.navbar-brand{
    margin-right: 0;
}

.navbar-logo{
    width: 80px!important;
    height: 80px;
}

#navbarNav{
    justify-content: end!important;
}

.navbar-nav > li{
    margin-right: 20px;
    position: relative;
}

.navbar-nav > li:last-child{
    margin-right: 0;
}

.navbar-nav a{
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
}

.navbar-nav a:hover{
    transition: all ease-in-out 0.5s;
    color: var(--primary-color);
}

.navbar-nav .active-item a{
    color: var(--primary-color);
}

.navbar-nav .active-item:after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}
