/* carousel */


/* about section */
.home-about-section img{
    padding: 0;
    border-radius: 16px;
    object-fit: contain;
}

.home-section-title{
    position: relative;
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}

.home-about-textbox p{
    margin-top: 20px;
    text-align: justify;
}

.home-about-textbox p > b{
    color: var(--primary-color);
    font-size: 24px;
}

/* service section */
.home-service-section .home-section-title{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-service-card__wrapper{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.home-service-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 12px;
    padding: 32px 12px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.home-service-card > i{
    color: var(--primary-color);
    font-size: 42px;
}

.home-service-card > h4{
    margin-top: 32px;
    font-weight: 600;
    color: var(--heading-color);
}

/* product section */
.home-product-textbox{
    text-align: center;
}

.home-product-textbox > p{
    margin-top: 20px;
    padding: 0 24px;
}

.home-product-gallery{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-product-gallery > a{
    text-decoration: none;
    display: block;
    margin-top: 76px;
    padding: 12px 24px;
    text-align: center;
    border-radius: 16px;
    transition: all ease-in-out 0.2s;
    border: 1px solid var(--text-color);
}

.home-product-gallery > a:hover{
    background-color: var(--text-color);
    color: #fff;
}

.home-product-gallery > h3{
    text-align: center;
    color: var(--primary-color);
    font-size: 32px;
}

.home-product-gallery-wrapper{
    position: relative;
}

.home-product-gallery-wrapper::after{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255 , 0.5);
    bottom: -5%;
    width: 100%;
    height: 20%;
    filter: blur(10px);
}

.home-product-gallery__item{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.home-product-gallery__item > img{
    object-fit: cover;
    width: 65%;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}