.product-card{
    margin: 16px 0;
    padding: 24px 12px;
    border-radius: 8px;
    background-color: var(--background-color);
}

.product-card img{
    width: 100%;
    border-radius: 16px;
}

.product-card-text{
    text-align: center;
    margin-top: 16px;
}

.product-card-name{
    font-size: 20px;
    font-weight: 600;
}

.product-card-text > .button{
    margin-top: 8px;
    width: 100%;
}