/* mobile - phone */
@media only screen and (max-width: 576px) {
    /* homepage responsive */
    .app-item{
        padding: 64px 32px!important;
    }

    .button{
        width: 100%;
        text-align: center;
    }

    .navbar{
        padding: 0 32px;
    }

    .slider-item{
        padding: 32px 32px;
        flex-direction: column;
        justify-content: space-between;
        height: 600px;
    }

    .slider-item-unique{
        padding: 0;
        justify-content: center;
    }

    .slider-item-unique > img{
        margin-top: 0;
        border-radius: 0;
    }

    .slider-item-unique > .slider-text{
        text-align: center;
        padding: 0 32px;
    }

    .slider-text{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .slider-text > a{
        margin-right: 0;
        text-align: center;
        width: 90%;
    }

    .slider-img{
        margin-top: 20px;
        width: 100%;
        border-radius: 16px;
    }

    .slick-prev, .slick-next{
        display: none!important;
    }

    .home-section-title{
        text-align: center;
    }

    .home-section-title ~ p{
        text-align: center;
    }

    .home-about-section video{
        margin-top: 20px;
    }

    .home-about-textbox > p, .home-product-textbox > p{
        text-align: justify;
    }

    .home-product-img > img{
        display: none;
    }

    .contact-banner-text{
        padding: 8px;
        max-width: 80%;
    }

    .contact-banner-text > h3{
        font-size: 28px;
    }

    .footer-logo-wrapper{
        text-align: center;
    }
    .social-media-link{
        text-align: center;
        margin: 20px 0;
    }

    .social-media-link > a:first-child > i:first-child{
        margin-left: 0!important;
    }

    .first-icon{
        margin-left: 0!important;
    }


    /* about page responsive */
    .founder-img{
        width: 100%!important;
    }

    /* service page */
    .service-card-nav{
        flex-direction: column;
    }

    .service-card-nav .button{
        width: 100%;
    }

    .modal-body, .service-modal-carousel{
        padding: 0;
    }

    .service-text{
        padding: 32px 24px 32px 24px!important;
        text-align: center;
        width: 100%!important;
    }

    .service-text > h3{
        text-align: center;
    }

    .service-model-banner > img{
        width: 100%!important;
    }

    .product-service-item{
        padding: 12px 0;
    }

    .project-info-link{
        text-align: center!important;
        margin: 20px 0;
    }

    /* blog responsive */
    .blog-card-content{
        width: 100%!important;
        text-align: justify;
    }

    .article-wrapper{
        padding: 64px 36px!important;
    }

    .article-product-banner__title{
        margin-top: 20px;
        text-align: center;
    }

    .article-wrapper .contact-banner{
        padding: 32px 0!important;
    }

    .article-product-banner__text>a{
        min-width: 0!important;
    }
    /* product page responsive */
    .product-nav{
        padding: 24px 8px!important;
    }

    .product-nav > ul{
        flex-direction: column;
    }

    .product-nav li{
        width: 100%;
        margin-top: 9px;
        text-align: center;
    }

    .contact-form{
        margin-top: 20px;
    }
}

/* landscape mobile and portrait tablet*/
@media only screen and (min-width: 576px) and (max-width: 820px) {
    /* homepage */
    .home-about-section video{
        height: 750px;
        margin-top: 20px;
    }

    .home-about-textbox .button{
        width: 100%;
        text-align: center;
    }
    /* slide */
    .slick-prev, .slick-next{
        display: none!important;
    }

    .home-product-img{
        display: flex;
        justify-content: space-between;
    }

    .home-product-img > img{
        width: 40%;
        display: block;
        position: relative!important;
        top: 0!important;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .footer-logo-wrapper{
        text-align: center;
    }

    .social-media-link{
        text-align: center;
        margin: 20px 0;
    }

    .social-media-link > a:first-child > i:first-child{
        margin-left: 0!important;
    }

    .first-icon{
        margin-left: 0!important;
    }
    /* about page responsive */
    .founder-img{
        width: 100%!important;
    }

    /* blog responsive */

    .blog-card > img{
        object-fit: contain!important;
    }

    .article-product-banner__title{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .article-product-banner__text > a{
        width: 100%;
        text-align: center;
    }
    /* service page */

    .service-card-nav{
        flex-direction: column;
    }

    .service-card-nav .button{
        width: 100%;
    }

    .modal-dialog{
        max-width: 90%;
    }

    .product-service-item{
        padding: 16px 0;
    }

    .promotion-textbox{
        text-align: center;
    }
    /* product page responsive */
}

