.service-heading{
    text-align: center;
    margin-bottom: 24px;
}

.service-card-wrapper{
    margin-top: 20px;
    margin-right: 16px;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-card-wrapper:last-child{
    margin-right: 0;
}

.service-card-textbox{
    padding: 32px 24px;

}

.service-card-name{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 32px;
}

.service-card img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;
    max-height: 250px;
    object-fit: cover;
}

.service-card-nav{
    display: flex;
    justify-content: center;
}

.service-card-nav .button{
    font-size: 18px;
    margin-right: 16px;
    width: 100%;
}

.service-card-nav .button:last-child{
    margin-right: 0;
}

/* modal */


/* our projects section */
.our-projects > h3{
    text-align: center;
}

/* service-model */
.service-model-banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service-model-banner > i{
    position: absolute;
    font-size: 42px;
    color: var(--background-color);
    bottom: -16px;
    right: 50%;
    animation: slideDown 1.5s linear infinite;
}

.service-text{
    position: absolute;
    padding: 0 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

.service-text > h3{
    font-size: 42px;
    z-index: 2;
}

.service-model-banner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.service-model-wrapper > h3{
    text-align: center;
    margin-bottom: 20px;
}

.service-model-desc{
    text-align: justify;
    margin-bottom: 20px;
}

.service-model-subtitle{
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 24px;
}

.service-model-details{
    margin-top: 20px;
}
.service-model-process img{
    width: 100%;
    border-radius: 16px;
    object-fit: contain;
    margin-bottom: 32px;
}
.service-model-gallery > img{
    width: 100%;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* projects */

.project-card{
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-card > img{
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.project-card-textbox{
    padding: 24px 16px;
}

.project-card-textbox > h3{
    color: var(--primary-color);
    font-weight: 600;
}

.project-card-textbox > a{
    width: 100%;
}

/* project details */
.project-detail-wrapper{
    margin-top: 140px;
}

.project-detail-wrapper > .app-item-title{
    text-align: center;
    margin-bottom: 20px;
}

.project-img > img{
    height: 450px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 8px;
}