.service-heading{
    text-align: center;
    margin-bottom: 24px;
}

.service-card-wrapper{
    margin-top: 20px;
    margin-right: 16px;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-card-wrapper:last-child{
    margin-right: 0;
}

.service-card-textbox{
    padding: 32px 24px;

}

.service-card-name{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 32px;
}

.service-card img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;
    max-height: 250px;
    object-fit: cover;
}

.service-card-nav{
    display: flex;
    justify-content: center;
}

.service-card-nav .button{
    font-size: 18px;
    margin-right: 16px;
    width: 100%;
}

.service-card-nav .button:last-child{
    margin-right: 0;
}

/* modal */
.modal-content{
    padding: 12px 36px;
}

.service-modal-btn{
    border-color: var(--primary-color)!important;
}

.service-modal-carousel{
    padding: 0;
}

.service-carousel-indicators{
    position: absolute;
    bottom: -12px;
}

.service-carousel-indicators > button{
    background-color: var(--background-color)!important;
}

.service-carousel-indicators > .active{
    background-color: var(--primary-color)!important;
}


.carousel-indicators [data-bs-target] {
    background-clip: border-box;
}

/* our projects section */
.our-projects > h3{
    text-align: center;
}

/* service-model */
.service-model-banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service-model-banner > i{
    position: absolute;
    font-size: 42px;
    color: var(--background-color);
    bottom: -16px;
    right: 50%;
    animation: slideDown 1.5s linear infinite;
}

.service-text{
    position: absolute;
    padding: 0 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

.service-text > h3{
    font-size: 42px;
    z-index: 2;
}

.service-model-banner > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.service-model-wrapper > h3{
    text-align: center;
    margin-bottom: 20px;
}

.service-model-desc{
    text-align: justify;
    margin-bottom: 20px;
}

.service-model-subtitle{
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 24px;
}

.service-model-details{
    margin-top: 20px;
}
.service-model-process img{
    width: 100%;
    border-radius: 16px;
    object-fit: contain;
    margin-bottom: 32px;
}
.service-model-gallery > img{
    width: 100%;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}