.service-heading{
    text-align: center;
    margin-bottom: 24px;
}

.service-card-wrapper{
    margin-top: 20px;
    margin-right: 16px;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-card-wrapper:last-child{
    margin-right: 0;
}

.service-card-textbox{
    padding: 32px 24px;

}

.service-card-name{
    color: var(--heading-color);
    font-weight: 600;
    font-size: 32px;
}

.service-card img{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;
    max-height: 250px;
    object-fit: cover;
}

.service-card-nav{
    display: flex;
    justify-content: center;
}

.service-card-nav .button{
    font-size: 18px;
    margin-right: 16px;
}

.service-card-nav .button:last-child{
    margin-right: 0;
}

/* modal */
.modal-content{
    padding: 12px 36px;
}

.service-modal-btn{
    border-color: var(--primary-color)!important;
}

.service-carousel-indicators{
    position: absolute;
    bottom: -12px;
}

.service-carousel-indicators > button{
    background-color: var(--background-color)!important;
}

.service-carousel-indicators > .active{
    background-color: var(--primary-color)!important;
}

.service-carousel .carousel-item > img{
    border-radius: 8px!important;
    object-fit: cover;
    min-height: 300px;
}

.service-carousel .carousel-item{
    margin: 32px 0 56px 0 ;
}