:root{
  --text-color: #232323;
  --primary-color: #9e8e77;
  --background-color: #d9cfc5;
  --heading-color: #b99a7e;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Raleway", serif;
}

li, a, p{
  font-family: "Nunito", serif;
  font-size: 20px;
  margin-bottom: 0;
  color: var(--text-color);
}

*{
  box-sizing: border-box!important;
}

.container-fluid{
  padding: 0;
}

.box{
  height: 500px;
}

.app-item{
  padding: 80px 40px;
}

.app-item-title{
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 600;
}

.app-section-img{
  margin-top: 20px;
}

/* animation */

@keyframes swipeUp{
  from{
      top: 100px;
  }
  to{
      top: 0;
  }
}

@keyframes fadeIn{
    from{
      
    }
    to{
      opacity: 1;
    }
}

