:root{
  --text-color: #232323;
  --primary-color: #9e8e77;
  --background-color: #d9cfc5;
  --heading-color: #b99a7e;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Raleway", serif;
}

li, a, p{
  font-family: "Nunito", serif;
  font-size: 20px;
  margin-bottom: 0;
  color: var(--text-color);
}

*{
  box-sizing: border-box!important;
}

.container-fluid{
  padding: 0;
}

.box{
  height: 500px;
}

.app-item{
  position: relative;
  padding: 64px 40px;
}

.app-item-title{
    color: var(--heading-color);
    font-size: 36px;
    font-weight: 600;
}

.app-section-img{
  margin-top: 20px;
}

.mt-114{
  margin-top: 114px;
}

.call-btn{
  display: inline-block;
  position: fixed;
  bottom: 10%;
  right: 20px;
}

.call-btn > a{
  display: block;
  z-index: 2!important;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* animation */

@keyframes swipeUp{
  from{
      top: 100px;
  }
  to{
      top: 0;
  }
}

@keyframes fadeIn{
    from{
      opacity: 0.2;
    }
    to{
      opacity: 1;
    }
}

@keyframes fadeDown{
  from{
     top: 50px;
     opacity: 0.8;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
